* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --black: #000000;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --divider: #F2E7FA;
}

body {
  background: var(--light-purple);
}

body, input, button, textarea {
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--white);
}

a {
  text-decoration: none;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px
}