header {
  background: var(--purple-bg);
  border-bottom: 6px solid var(--green);
  width: 100%;
}

#menu > ul {
  display: flex;
  list-style: none;
}

a {
  color: var(--white);
}

li:first-child {
  border-left: 2px solid var(--green);
  padding-left: 3px;
}

li {
  padding-right: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1175px;
  padding: 64px 0;
}

input {
  background: var(--dark-bg);
  border: 0 none;
  padding: 14px 25px;
  border-radius: 4px 0 0 4px;
  height: 44px;
}

.search-bar {
  display: flex;
}

.search-button {
  border-radius: 0px 4px 4px 0px;
  width: 70px;
  height: 44px;
  background: var(--button-bg);
}

.search-button img {
  padding: 10px 23px;
}

.presentation-container {
  max-width: 1175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.presentation-container .text-group h1 {
  color: var(--button-bg);
  font-size: 36px;
  width: 569px;
  height: 162px;
  margin-bottom: 16px;
  line-height: 54px;
}

.presentation-description {
  width: 470px;
  height: 82px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.see-more {
  color: var(--button-bg);
  margin-top: 24px;
  display: flex;
}

.see-more img {
  margin-left: 8px;
}

/* Oi */